**Lista 1**

Exercício 1

In [ ]:
#Exercício 1 - Leia um número inteiro
print("Digite um número inteiro")
x = int(input())
print("Número digitado foi: ", x)

Digite um número inteiro
1000
Número digitado foi:  1000

Exercício 2

In [ ]:
#Exercício 2 - Leia um número real
print("Digite um número real")
x = float(input())
print("Número digitado foi: ", x)

Digite um número real
129.90
Número digitado foi:  129.9

Exercício 3

In [ ]:
#Soma de valores
print("Digite um número inteiro")
num_1 = int(input())
print("Digite um número inteiro")
num_2 = int(input())
print("Digite um número inteiro")
num_3 = int(input())
soma = num_1+num_2+num_3
print("A soma é igual a: ", soma)

Digite um número inteiro
10
Digite um número inteiro
20
Digite um número inteiro
30
A soma é igual a:  60

Exercício 4

In [ ]:
#Quadrado do número
print("Digite um número real")
real = float(input())
print("Quadrado do número = ", real**2)

Digite um número real
12
Quadrado do número =  144.0

Exercício 5)a)

In [ ]:
#Exercício 5)a)
print("Digite a temperatura em Celsius:")
celsius = float(input())
print("A temperatura em Kelvin é: ",celsius+273.15,"K")

Digite a temperatura em Celsius:
30
A temperatura em Kelvin é:  303.15 K

Exercício 5)b)

In [ ]:
#Exercício 5)b)
print("Digite a temperatura em Kelvin:")
kelvin = float(input())
print("A temperatura em celsius é: ",kelvin-273.15,"ºC")

Digite a temperatura em Kelvin:
300
A temperatura em celsius é:  26.850000000000023 ºC

Exercício 6)a)

In [ ]:
#Exercício 6)a)
print("Digite a temperatura em Fahrenheit:")
temp = float(input())
celsius = 5.0*((temp-32.0)/9.0)
print("A temperatura em celsius = ",celsius)

Digite a temperatura em Fahrenheit:
94
A temperatura em celsius =  34.44444444444444

Exercício 6)b)

In [ ]:
#Exercício 6)b)
print("Digite a temperatura em celsius:")
temp = float(input())
f = ((temp*9.0)/5.0)+32.0
print("A temperatura em Fahrenheit = ",f)

Digite a temperatura em celsius:
30
A temperatura em Fahrenheit =  86.0

Exercício 7

In [ ]:
#Converter velocidade
print("Digite a velocidade em km/h:")
k=float(input())
print("A velocidade em m/s é: ",k/3.6,"m/s")

Digite a velocidade em km/h:
60
A velocidade em m/s é:  16.666666666666668 m/s

Exercício 8

In [ ]:
#Converter um ângulo para radianos
print("Digite o ângulo em graus:")
g=float(input())
pi = 3.14159265359
rad = (g*pi)/180.0
print("O ângulo em radianos: %.2f" %rad, "radianos")

Digite o ângulo em graus:
90
O ângulo em radianos: 1.57 radianos

Exercício 9

In [ ]:
#Média de um aluno
print("Digite nota 1:")
nota_1 = float(input())
print("Digite nota 2:")
nota_2 = float(input())
print("Digite nota 3:")
nota_3 = float(input())
print("Digite nota 4:")
nota_4 = float(input())
media=(nota_1+nota_2+nota_3+nota_4)/4.0
print("A média do aluno foi: ",media)

Digite nota 1:
6.5
Digite nota 2:
7.5
Digite nota 3:
9.4
Digite nota 4:
9.8
A média do aluno foi:  8.3

Exercício 10

In [ ]:
#Converter para dolar
print("Digite o valor em real:")
real=float(input())
print("Digite a cotação do dolar:")
c=float(input())
print("Valor da conversão em dolar: $",real/c)

Digite o valor em real:
100
Digite a cotação do dolar:
5.94
Valor da conversão em dolar: $ 16.835016835016834

Exercício 11

In [ ]:
#Encanador
taxa_fixa = 80.00
print("Quantos dias de trabalho:")
dias=float(input())
trabalho=55.00*dias
print("O encanador vai receber: R$",(taxa_fixa+trabalho))

Quantos dias de trabalho:
30
O encanador vai receber: R$ 1730.0

Exercício 12

In [ ]:
#Valor com desconto de um produto
print("Digite o valor do produto:")
produto=float(input())
print("O valor do produto com desconto: R$", produto*(1-0.12))

Digite o valor do produto:
1200
O valor do produto com desconto: R$ 1056.0

Exercício 13

In [ ]:
#Salário de um funcionário
print("Digite o salário do funcionário:")
salario=float(input())
print("O salário com aumento é:",salario+(salario*0.25))

Digite o salário do funcionário:
3700
O salário com aumento é: 4625.0

Exercício 14

In [ ]:
print("premio = 780000.00")
premio = 780000.00
ganhador_1 = 0.46 * premio
ganhador_2 = 0.38 * premio
ganhador_3 = premio - ganhador_1 - ganhador_2

print("O ganhador 1 irá ganhar: R$", ganhador_1)
print("O ganhador 2 irá ganhar: R$", ganhador_2)
print("O ganhador 3 irá ganhar: R$", ganhador_3)

premio = 780000.00
O ganhador 1 irá ganhar: R$ 358800.0
O ganhador 2 irá ganhar: R$ 296400.0
O ganhador 3 irá ganhar: R$ 124800.0

Exercício 15

In [ ]:
#Calcular salário a receber de um funcionário
print("Digite o salário-base do funcionário:")
base=float(input())
salario=base+(base*0.05)-(base*0.07)
print("Salário a receber: R$",salario)

Digite o salário-base do funcionário:
5000
Salário a receber: R$ 4900.0

Exercício 16

In [ ]:
#Vendedores
print("Digite o valor total:")
total = float(input())
desconto=total*0.90
print("Valor com 10% de desconto: R$",desconto)
parcela=total/3.00
print("Valor da parcela: R$", parcela)
a_vista=desconto*0.05
print("Comissão do vendendor para vendas à vista: R$",a_vista)
venda_parcelada=total*0.05
print("Comissão do vendendor para vendas parceladas: R$", venda_parcelada)

Digite o valor total:
1200
Valor com 10% de desconto: R$ 1080.0
Valor da parcela: R$ 400.0
Comissão do vendendor para vendas à vista: R$ 54.0
Comissão do vendendor para vendas parceladas: R$ 60.0

Exercício 17

In [ ]:
#Parâmetros de um quadrado
print("Digite o tamanho dos lados do quadrado:")
lado=float(input())
diagonal = lado*(2**(1/2))
print("Área: ",lado**2)
print("Perímetro: ",lado*4)
print("Diagonal: ", diagonal)

Digite o tamanho dos lados do quadrado:
4
Área:  16.0
Perímetro:  16.0
Diagonal:  5.656854249492381

Exercício 18

In [ ]:
#Circunferência
print("Digite o raio da circunferência:")
raio = float(input())
pi = 3.14159265359
area = pi *(raio**2)
c = 2*pi*raio
print("A área da circunferência é: %.2f"%area)
print("O comprimento da circunferência é: %.2f"%(c))

Digite o raio da circunferência:
5
A área da circunferência é: 78.54
O comprimento da circunferência é: 31.42

Exercício 19

In [ ]:
#Paralelepípedo
print("Digite um lado '1' do paralelepípedo:")
a = float(input())
print("Digite um lado '2' do paralelepípedo:")
b = float(input())
print("Digite um lado '3' do paralelepípedo:")
c = float(input())
area = (2*a*b+2*b*c+2*a*c)
volume = (a*b*c)
print("A área total do paralelepípedo é: %.2f"%area)
print("O volume do paralelepípedo é: %.2f"%volume)

Digite um lado '1' do paralelepípedo:
4
Digite um lado '2' do paralelepípedo:
5
Digite um lado '3' do paralelepípedo:
6
A área total do paralelepípedo é: 148.00
O volume do paralelepípedo é: 120.00

Exercício 20

In [ ]:
#Raiz Quadrada
print("Digite um número real:")
real = float(input())
raiz = real**(1/2)
print("A raíz quadrada do número é: %.3f"%raiz)

Digite um número real:
144
A raíz quadrada do número é: 12.000

Exercício 21

In [ ]:
#Triângulo retângulo
print("Digite o valor do cateto 1:")
a = float(input())
print("Digite o valor do cateto 2:")
b = float(input())
c = ((a**2)+(b**2))**(1/2)
print("A hipotenusa do triângulo é: %.3f"%c)

Digite o valor do cateto 1:
3
Digite o valor do cateto 2:
4
A hipotenusa do triângulo é: 5.000

Exercício 22

In [ ]:
#Leia os lados a e b de um retângulo e imprima sua área, perímetro e tamanho da diagonal
print("Digite um lado '1' do retângulo:")
a = float(input())
print("Digite um lado '2' do retângulo:")
b = float(input())
area = (a*b)
perimetro = (2*a)+(2*b)
diagonal = ((a**2)+(b**2))**(1/2)
print("A área total do retângulo é: %.2f"%area)
print("O perímetro do retângulo é: %.2f"%perimetro)
print("A diagonal do retângulo é: %.2f"%diagonal)

Digite um lado '1' do retângulo:
10
Digite um lado '2' do retângulo:
20
A área total do retângulo é: 200.00
O perímetro do retângulo é: 60.00
A diagonal do retângulo é: 22.36